# ─────────────────────────────────────────────
# Caches
# ─────────────────────────────────────────────

**/cache/
**/caches/
**/.cache/


# ─────────────────────────────────────────────
# Runtime / State
# ─────────────────────────────────────────────

**/state/
**/runtime/
**/*.pid
**/*.sock


# ─────────────────────────────────────────────
# Logs
# ─────────────────────────────────────────────

**/logs/
**/*.log


# ─────────────────────────────────────────────
# Temporary / Backup files
# ─────────────────────────────────────────────

**/*.tmp
**/*.temp
**/*.bak
**/*.swp
**/*.swo
**/*~


# ─────────────────────────────────────────────
# Editor / OS junk
# ─────────────────────────────────────────────

.DS_Store
Thumbs.db


# ─────────────────────────────────────────────
# Secrets / credentials
# ─────────────────────────────────────────────

.env
.env.*
**/.env
**/.env.*

*.pem
*.key
*.crt


# ─────────────────────────────────────────────
# Browser / Application databases
# ─────────────────────────────────────────────

**/*.sqlite
**/*.sqlite3
**/*.db

# ─────────────────────────────────────────────
# Thunar generated metadata
# ─────────────────────────────────────────────

Thunar/ThunarBulkRename/

xarchiver/
vlc/
cava/
xfce4/
xsettingsd/
dconf/
spotify/
mozilla/
go/
rofi/rofi-themes-collection/
obsidian/
